<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Adapt</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/a4d6593cdd.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>Welcome to Project Adapt</h1>
        <h2>[ Home <i class="fa-solid fa-house"></i> | <a href="/manga">Manga <i class="fa-solid fa-book-open"></i></a> | <a href="/readers">Readers <i class="fa-solid fa-users"></i></a> | <a href="/manga_readers">Manga_Readers <i class="fa-solid fa-book-open-reader"></i></a> | <a href="/authors">Authors <i class="fa-solid fa-pen-nib"></i></a> | <a href="/anime">Anime <i class="fa-solid fa-video"></i></a> | <a href="/studios">Studios <i class="fa-solid fa-film"></i></a> ]</h2>
        <p>&nbsp;</p>
        <h3>Mission Statement</h3>
        <div class="home-box">
        <p>Our goal is to streamline the decision-making process by efficiently managing and analyzing a vast pool of manga titles. 
        </br>This project centers on developing a comprehensive database that catalogs manga series, capturing crucial details such as 
        </br>ratings, genres, popularity metrics, andauthor/audience information.
       
        </br></br>By organizing this data, we can leverage advanced querying and data analysis techniques to assess factors like audience 
        </br>engagement, market trends, and critical acclaim. This, in turn, empowers us to make informed decisions on which manga series 
        </br>are most suitable for adaptation, aligning a studio’s creative endeavors with the preferences and interests of our target 
        </br>audience, ensuring successful and captivating anime productions. </div> 
        <img src="./img/manga-background.png">
        </p>
    </body>
</html>
